* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow: hidden;
}

.poster {
    position: relative;
    width: 100%;
    max-width: 1080px;
}

.background {
    width: 100%;
    display: block;
}
.number{
    position:absolute;
    color:#fff;
    font-family:'Poppins',sans-serif;
    font-size:38px;
    font-weight:700;
    text-align:center;
    width:60px;
    transform:translate(-50%,-50%);
}

#years{
    left:7.8%;
    top:44.5%;
}

#months{
    left:22.9%;
    top:44.5%;
}

#days{
    left:38.8%;
    top:44.5%;
}

#hours{
    left:54.8%;
    top:44.5%;
}

#minutes{
    left:70.7%;
    top:44.5%;
}

#seconds{
    left:86.7%;
    top:44.5%;
}
